.posts-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: calc(var(--spacing) * 4);
  padding-bottom: calc(var(--spacing) * 4);
}

.posts-page__list {
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  gap: calc(var(--spacing) * 4);
}

@media (min-width: 768px) {
  .posts-page__list {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

.card__action button {
  color: var(--destructive);
}

.card__action button:hover {
  background-color: color-mix(
    in oklab,
    var(--destructive) 10%,
    transparent
  ) !important;
}

.card__content p {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
}

.posts-page__pagination {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: calc(var(--spacing) * 2);
  margin-top: calc(var(--spacing) * 6);
}
