.posts-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: calc(var(--spacing) * 4);
  padding-bottom: calc(var(--spacing) * 4);
}

.posts-page__list {
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  gap: calc(var(--spacing) * 4);
}

@media (min-width: 768px) {
  .posts-page__list {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

.post {
  background-color: var(--card);
  color: var(--card-foreground);
  box-shadow: var(--shadow-md);
  padding: calc(var(--spacing) * 6);

  border-width: 1px;
  border-style: solid;
  border-radius: var(--radius-md);
}

.post__title {
  font-size: var(--font-size-lg);
  font-weight: semibold;
}

.post__content {
  font-size: var(--font-size-base);
  margin-top: calc(var(--spacing) * 2);

  overflow: hidden;
  display: -webkit-box;
  line-clamp: 2;
  -webkit-box-orient: vertical;
}

.post__date {
  font-size: var(--font-size-sm);
  color: var(--muted-foreground);
  margin-top: calc(var(--spacing) * 2);
}

.posts-page__pagination {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: calc(var(--spacing) * 2);
  margin-top: calc(var(--spacing) * 6);
}
