.ui-input {
  border: 1px solid var(--input);
  display: flex;
  height: calc(var(--spacing) * 9);
  width: 100%;
  min-width: 0;
  border-radius: var(--radius-md);
  background-color: transparent;
  padding: calc(var(--spacing) * 1) calc(var(--spacing) * 3);
  font-size: var(--font-size-base);
  box-shadow: var(--shadow-xs);
  transition:
    color 0.3s ease,
    box-shadow 0.3s ease;
  outline: none;
}

.dark .ui-input {
  background-color: color-mix(in oklab, var(--input) 30%, transparent);
}

.ui-input::file-selector-button {
  color: var(--foreground);
  display: inline-flex;
  height: calc(var(--spacing) * 7);
  border: none;
  background-color: transparent;
  font-size: var(--font-size-sm);
  font-weight: 500;
}

.ui-input[aria-invalid='true'] {
  border-color: var(--destructive);
}

.ui-input:focus-visible {
  border-color: var(--ring);
  box-shadow: 0 0 0 calc(3px) color-mix(in oklab, var(--ring) 50%, transparent);
}

.ui-input:disabled {
  pointer-events: none;
  cursor: not-allowed;
  opacity: 0.5;
}

.ui-input::placeholder {
  color: var(--muted-foreground);
}

.ui-input::selection {
  background-color: var(--primary);
  color: var(--primary-foreground);
}

@media (min-width: 768px) {
  .ui-input {
    font-size: var(--font-size-sm);
  }
}
