.ui-label {
  display: flex;
  align-items: center;
  gap: calc(var(--spacing) * 2);
  font-size: var(--text-sm);
  line-height: var(--text-sm-line-height);
  font-weight: 500;
  user-select: none;
}

.ui-label[data-disabled='true'] {
  pointer-events: none;
  opacity: 0.5;
}

.ui-label:is(:where(.peer):disabled) {
  cursor: not-allowed;
  opacity: 0.5;
}
